  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Clicker+Script&family=Merriweather:wght@400;700;900&family=Montserrat:wght@500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,600;1,700&family=Potta+One&family=Roboto+Mono:ital,wght@1,600&family=Roboto:wght@400;900&family=Rubik+Bubbles&family=Ubuntu+Condensed&display=swap');
* {
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

html{
    scroll-behavior: smooth;
}


body {
    background-color: #eae7de;
}

/* Nav bar */

nav {
    position:sticky;
    top: 0;
    z-index: 4000;
}

.brand-name h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.brand-name .styling-text {
    color: #f8cfa2;
}

.bgImage1 .styling-text {
    color: rgb(129, 8, 8);
    font-size: 70px;
}

.container {
    padding: 10px 100px;
}


.nav-section {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.item-link {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.item-link:hover {
    color: #f8cfa2;
}

.line {
    width: 2px;
    height: 20px;
    background-color: #f8cfa2;
}

.nav-toggler {
    width: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    display: none;
}


.nav-item{
    position: relative;
}

.nav-item::before{
    content: "";
    position: absolute;
    background-color: #c7a17a;
    height: 3px;
    width: 100%;
    bottom: -2px;
    border-radius: 50px;
    transform: scaleX(0);
    transition: 0.3s linear;
}

.nav-item:hover:before{
    transform: scaleX(1);
}


/* main container */

.bgImage1 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.title-text {
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.title {
    margin: auto;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
}

.title p {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    width: 82%;
    margin: auto;
    line-height: 2;
    letter-spacing: 1px;
}


/* Slot- booking-Section */

.slot-booking-section {
    padding-block: 40px;
    /* height: 140vh; */
}

.slot-header,
.product-header{
    margin: auto;
    width: 50%;
    text-align: center;
}

.slot-header p ,
.product-header p{
    color: #c7a17a;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.slot-header h3,
.product-header h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    color: #30271c;
}

.horizentical-line {
    width: 20%;
    margin: auto;
    height: 3px;
    background-color: #c7a17a;
    margin-top: 20px;
}

.slot-container {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
}

.slot-content {
    padding-top: 40px;
}

#person-list,
#time-list {
    height: 50px;
    width: 150px;
    border: none;
    appearance: none;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    outline: none;
}

.person,
.date,
.time {
    display: flex;
}

.person-icon-div,
.calender-icon-div,
.time-icon-div {
    display: flex;
    padding-left: 10px;
    padding-right: 5px;
    border-left: 2px solid rgb(206, 204, 204);
    background-color: white;
    color: #c7a17a;
}

.person-icon,
.calender-icon,
.time-icon {
    align-self: center;
}

input[type="date"] {
    height: 30px;
    width: 150px;
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.slot-text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.slot-text h3 {
    font-weight: bolder;
    font-weight: 700;
    color: #30271c;
}

.book {
    display: flex;

}

.book .book-btn {
    padding: 15px 40px;
    background-color: #c7a17a;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: all 0.3s ease;
}

.book .book-btn:hover {
    background-color: #30271c;
}


/* mini services */

.mini-service {
    display: flex;
    margin-top: 40px;
}

.card {
    max-width: 33.33%;
    padding: 20px;
}

.card-img img {
    width: 100%;
}

.card-text span {
    font-size: 60px;
    color: #c7a17a;
    font-weight: 500;
    padding-right: 10px;
    font-family: 'Merriweather', serif;
}



.card-text h2 {
    padding-top: 20px;
    color: #30271c;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.card-text p {
    line-height: 26px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    padding-block: 10px;

}


.read-more {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #c7a17a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.read-more i {
    transition: all 0.3s ease;
}

.read-more:hover i {
    padding-left: 5px;
}

/* bg2image */
.bg2image {
    background: url('assets/parallax-1.jpg');
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* offer section */

.offer-section {
    /* height: 140vh; */
    background-color: #fff;
}

.offer-section .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
    gap: 50px;
}

.offer-item {
    justify-content: center;
    text-align: center;
}

.offer-text {
    padding-top: 20px;
}

.offer-text h3 {
    font-family: 'Roboto', sans-serif;
    color: #30271c;
}

.offer-text p {

    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}

.ofc {
    display: flex;
    padding: 40px 150px;
}


.ofc-text {
    background-image: url('assets/slider-1.jpg');
    background-size: cover;
    height: 262px;
    max-width: 40%;
    padding-block: 40px;
    padding-left: 30px;
    padding-right: 80px;

}

.ofc-img{
    position: relative;
}

.ofc-text h2{
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    max-width: 85%;
    padding-bottom: 10px;
}

.ofc-text p{
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
     line-height: 24px;
     max-width: 85%;
     padding-bottom: 40px;
}

.ofc-text .read-more{
    color: #fff;
}



/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;

}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* The dots/bullets/indicators */

.dot-div{
  position: absolute;
  right: 0;
   top: 50%;
   rotate: 90deg;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #c7a17a;
}

.mySlides {
    display: none
}


/* Slideshow container */
.slideshow-container {
    max-height: 342px;
    position: relative;
    margin: auto;
}


/* bg3Image  & Flavour section*/ 

.bg3image{
    background-image:url('assets/parallax-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.flavour-section{
    padding: 80px 150px;
}

.flavour-header {
    text-align: center;
}

.flavour-header p{
    font-size: 20px;
    color: #c7a17a;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    padding-bottom: 40px;
}

.flavour-header h2{
   font-size: 30px;
   background-color: #c7a17a;
   padding-block:10px ;
   width: 60%;
   margin: auto;
   color: #fff;
   font-family: 'Roboto',sans-serif;
   letter-spacing: 2px;
   margin-bottom: 20px;
}

.flavour-header .horizentical-line{
    margin-bottom: 20px;
}

.flavour-list{
    color: white;
    max-width: 100%;
    flex-direction: row;
    display: flex;
    gap: 30px;
    padding-top: 40px;
}

.left-list,.right-list{
    flex-direction: column;
    gap: 30px;
    width: 49%;
}

.flavour{
    gap:40px;
    width: 100%;
    height: 100px;
}

.flavour-name{
    flex-direction: column;
    gap: 10px;
}

.right-list{
    width: 49%;
}

.flavour-img{
    background-color: white;
    width: 90px;
    height: 90px;
}

.flavour-img img{
    width: 90px;
    height:90px;
}


.flavour-price{
    justify-content: space-between;
}

.flavour-price .horizentical-line{
    height: 0.7px;
   background-color:grey;
    width: 150px;
    border: none;
}

.flavour-price h3{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.flavour-price p{ 
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    line-height: 24px;
    font-weight: 700;
}


.flavour-dis{
    justify-content: space-between;
}

.flavour-dis .new{
    padding: 3px 14px;
    background-color: #c7a17a;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
}


.flavour-dis p{
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    color: #c7a17a;
    line-height: 24px;
}

.Menu-btn{
    text-align: center;
    margin-top:60px;
}

.Menu-btn .btn{
    background-color: #c7a17a;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Product section */

.product-section{
    padding-top: 80px;
    padding-bottom: 150px;
    width: 100%;
    background-color: #fff;
}

.product-list{
    margin-top: 60px !important;
    /* height: 60vh; */
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.product-item{
    width: 23%;
}

.product-item img{
    width: 100%;
    height: 100%;
  
}

.product-img{
    height: 70%;
    position: relative;  
    overflow: hidden;
    cursor: pointer;
}

.product-text{
    padding-block: 10px;
}

.product-text h3{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #30271c;
}

.price-text{
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #c7a17a;
    font-weight: bold;
}

.star-rating{
    color: #c7a17a;
    padding-block: 10px;
}

.star-icon{
    font-size: 12px;
    width: 10px;
}

.blank-star{
    color: #ccc5c5;
}

.add-to-cart{
    width: 100%;
    height: 40px;
    background-color: #c7a17a;
    opacity: 0.95;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    position: absolute;
    bottom: -100%;
    transition:  all 0.5s ease;
}

.product-img:hover .add-to-cart{
    bottom: 0px;
}


.add-to-cart p{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100vh;
    margin-top: 60px;
}

.photo-1{
    background-image: url('assets/gallery-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1/3;
    grid-column: 1/3;
}

.photo-2{
    background-image: url('assets/gallery-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-3{
    background-image: url('assets/gallery-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-4{
    background-image: url('assets/gallery-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 5/6;
    grid-row: 1/3;
}

.photo-5{
    background-image: url('assets/gallery-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-6{
    background-image: url('assets/gallery-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    height: 80vh;
    width: 100%;
    bottom: 0;
}

.sub-footer{
    background: url('assets/asset 26.jpeg');
    height: 87%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-div{
    background-color: black;
    height: 13%;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins',sans-serif;
}

.footer-div div{
    justify-content: space-between;
    gap: 25px;
    
}

.footer-div div i{
    cursor: pointer;
    font-size: 22px;
    transition: 0.2s ease;
}

.footer-div div i:hover{
    color: #c7a17a;
    scale: 1.3;
}

.footer-div p{
    color: #666666;
}

/* Footer section */

.sub-footer-container{
  padding: 60px 80px;
  color: white;
  justify-content: space-around;
}

.opening-hours{
    width: 19%;
    flex-direction: column;
    gap: 20px;
}

.sub-footer-container .heading{
 padding-bottom: 40px;
 font-size: 20px;
 text-transform: uppercase;
 font-family: 'Roboto',sans-serif;
 font-weight: bold;

}

.Day-time{
    width: 100%;
}

.Day-time h4{
 color: white;
 font-size: 14px;
 text-transform: uppercase;
 font-family: 'Roboto',sans-serif;
 font-weight: 500;
}

.Day-time p{
color: #acacac;
font-size: 14px;
font-family: "Roboto",sans-serif;
}

.Day-time .closed{
    color: #c7a17a;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}

.Day-time .horizentical-line{
    height: 0.2px;
    width: 25%;
    border: none;
    background-color: grey;
}


.Contact-Us a{
 font-size: 16px;
 font-family: 'Roboto',sans-serif;
 color: #c7a17a;
}

.Contact-Us .phone-no{
 padding-top: 20px;
}

.Contact-Us p,
.other-locations p
{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: #acacac;
}

.other-locations .sub{
font-size: 15px;
padding-bottom: 20px;
}


/* utility classes */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 14px;
    font-weight: bolder;
    padding: 15px 30px;
    border: 2px solid white;
    margin-top: 20px;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    transition: all 0.3s ease;
}


.btn:hover {
    background-color: white;
    color: black;
}


.flex{
    display: flex;

}